<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Search Abstraction Layer - FCC Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link href="style.css" rel="stylesheet" type="text/css">
   <style></style>
</head>
<body>
   <div class = "container">
      <h1 class = "header text-center">Image Search Abstraction Layer</h1>
      <h4 class = "subheader text-center">(Back End FreeCodeCamp Project)</h4>
      <h5 class = "subheader text-center">Tools: AWS - EC2 (Ubuntu), Apache, MongoDB (mLab), Node.js, Express.js, Google Custom Search API, Glitch.com</h5>
         <div class = "userStories">
         <h4 class= "stories">User stories:</h4>
             <ul>1. I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</ul>
             <ul>2. I can paginate through the responses by adding a ?offset=2 parameter to the URL.</ul>
             <ul>3. I can get a list of the most recently submitted search strings.</ul>       
         </div>

      <h4>Image Search Test:</h4>
      <code class = "text-primary bg-info">https://imagesearch-fccproject.glitch.me/api/imagesearch/funny%20puppies</code><br>
      <code class = "text-primary bg-info">https://imagesearch-fccproject.glitch.me/api/imagesearch/funny%20puppies?offset=3</code><br>

      <h4>Output:</h4>
      <code class = "text-primary bg-info output">
         {<br>
          &nbsp &nbsp url: "https://i.ytimg.com/vi/RENX5i5CJkY/maxresdefault.jpg" <br>
          &nbsp &nbsp snippet: "VOLUNTEERING At ANIMAL SHELTER VLOG ¦ DOGS and CUTE PUPPIES! 31 ..." <br>
          &nbsp &nbsp thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT23vf2W8wIejsAgNlSPddj0dshUQB41Fb17tzV1gCSd6AeDS0VoQg9t9o" <br>
          &nbsp &nbsp context: "https://www.youtube.com/watch?v=RENX5i5CJkY"<br>
         }
      </code>
      <br><br>
      <h4>Latest Searches Test:</h4>
      <code class = "text-primary bg-info">https://imagesearch-fccproject.glitch.me/api/latest</code><br>

       <h4>Output:</h4>
      <code class = "text-primary bg-info output">
         {<br>
          &nbsp &nbsp term: "funny puppies"<br>
          &nbsp &nbsp date: "2018-01-01T18:55:15.291Z"<br>
         }
      </code>
   </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 footer">
  <footer class="text-center">

  <i class="fa fa-copyright" aria-hidden="true"></i>Image Search Abstraction Layer - FreeCodeCamp Back End Project. By 
  <a href="https://github.com/yemz/imageSearchFCCProject"> Yessenia Melendez</a>. 
  </footer>
</div>
  </div>
    </div>

<script type="text/javascript">

</script>

</body>
</html>
